body, html {
	height: 100%;
	width: 100%;
	font-family: Arial, sans-serif;
	overflow: hidden;
	/* background: linear-gradient(to bottom, #5d00ff, #bf9aff); */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #5d00ff, #bf9aff);
  filter: blur(8px);
  z-index: -1; /* keep it behind all content */
}

#root {
  height: 100%;
}

.loginDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	box-sizing: border-box;
}

input:focus {
  border-color: #5d00ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
	width: 100%;
	padding: 12px;
	background-color: #5d00ff;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #8e4cff;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

label {
	display: block;
	text-align: left;
	font-size: 14px;
	margin-bottom: 4px;
	color: #333;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}