.registerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 14px;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="password"],
input[type="role"] {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	box-sizing: border-box;
}

.react-datepicker-wrapper {
  outline: none;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

input[type="date"]:not(:valid) {
  color: #999; /* lighter gray for "placeholder" effect */
}

.registerDiv button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #5d00ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registerDiv button:hover {
  background-color: #4700cc;
}

.error {
  color: red;
  margin-top: 10px;
}
