/* CustomDatePicker.css */

.custom-date-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1.5px solid #5d00ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.custom-date-input:focus {
  outline: none;
  /* border-color: #8e4cff; */
  box-shadow: 0 0 6px #8e4cff;
}

/* Dropdown styles inside react-datepicker */
.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #ccc;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Hover and focus for dropdown */
.react-datepicker__month-dropdown:hover,
.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:focus,
.react-datepicker__year-dropdown:focus {
  border-color: #5d00ff;
  box-shadow: 0 0 6px rgba(93, 0, 255, 0.5);
  outline: none;
}
