/* CustomDatePicker.css */

.date-input-container {
  position: relative;
  width: 100%;
}

.custom-date-input {
  position: relative;
  width: 100%;
  height: 44px;
  padding: 0 0.8rem;
  background: transparent;
  border: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #000;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 10;
  outline: none;
  box-shadow: none;
  line-height: 44px;
}

.custom-date-input:focus {
  border-bottom: 2px solid transparent;
}

.date-input-label {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}

.custom-date-input:valid ~ .date-input-label,
.custom-date-input:focus ~ .date-input-label {
  color: #7e29ff;
  transform: translateY(-2.6rem);
  font-size: 0.85rem;
}

.date-input-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #7e29ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.custom-date-input:valid ~ .date-input-underline,
.custom-date-input:focus ~ .date-input-underline {
  height: 44px;
}
